**/node_modules/**
coverage
cypress
node_modules
.DS_Store
.ftppass
*.cache
sftp.json.github/
readme.txt
babel.config.js
postcss.config.js
rollup.config.js
.stylelintrc.js
.eslintrc.js
.prettierrc.js
src
.idea
.browserslistrc
.eslintignore
.gitattributes
.npmpackagejsonlintignore
.stylelintignore
npmpackagejsonlint.json
index.php