$prefix: sixa;

/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

.wp-block-#{$prefix}-faq {

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;

		list-style: none;
		cursor: pointer;

		&:focus {
			outline: 0;
		}

		&::after {
			content: "";
			width: 0;
			height: 0;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 8px solid currentColor;
			transition: transform 300ms ease;
		}

		[open] > &::after {
			transform: rotate(180deg);
		}
	}

	&__content {
		animation: fade 1s linear;

	}
}

@keyframes fade {

	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
